%p#notice= notice
%h1 Anogazo

.find
  Find by tags
  = form_tag '/images', method: :get do |f|
    = text_field_tag :name, params[:name]
    = submit_tag 'Find it'

%br
= link_to 'New Image', new_image_path

- @images.order("created_at DESC").each do |image|
  %br
  = link_to image.file.url do
    = image_tag image.file.url
  = link_to 'Show', image
  = link_to 'Edit', edit_image_path(image)
  = link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' }

%br
= link_to 'New Image', new_image_path
